body {
  Background-color: #F6F5F4;
  color: #0C1618;
  font-family: Calibri, sans-serif;
  margin: 5% 5% 10% 5%;
  line-height: 1.5em;
  box-sizing: border-box;
}

.profile-image {
  border: 10px solid white;
  padding: 50px;
}

h1 span {
  font-weight: 100;
}

.exp-header {
  text-align: left;
  text-transform: uppercase;
  border-top: 1px solid #0C1618;
}

.exp-subheader {
  text-transform: uppercase;
  margin-bottom: -20px;
}

h4 {
  margin-bottom: -10px
}

ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -10px;
  margin-bottom: 5px
}
ul.dashed > li:before {
  content: "- ";
  Text-indent: 0;
}

.containter{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.container .box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container .box .gallery{
  display: flex;
  flex-direction: column;
}

.container .box .gallery1 img{
  width: 25%;
  margin-bottom: 20px;
  border-radius: 15px;
}
